body {
  background: url("/imgs/spider.png");
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
  background-size: 100% 110%;
}

h1, h2, h3, h4, h5, h6, a {
  margin: 0;
  padding: 0;
}

.crawlingFormWrapper, .signup {
  margin: 0 auto;
  max-width: 500px;
}

.login-header, .signup-header, .welcome-header {
  color: #fff;
  text-align: center;
  font-size: 200%;
}

.welcome-header {
  color: #7FDBFF;
  margin-bottom: 3%;
  margin-top: 3%;
}

.signup-header {
  margin-top: 3%;
}

.crawling-form, .signup-form {
  border: .5px solid #fff;
  background: #4facff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
}

.crawling-form h3, .signup-form h3 {
  text-align: left;
  margin-left: 40px;
  color: #fff;
}

.crawling-form, .signup-form {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 10%;
  margin: 5% auto;
  text-align: center;
}

.crawling-form input {
  max-width: 400px;
  width: 80%;
  line-height: 3em;
  font-family: 'Ubuntu', sans-serif;
  margin: 1em 2em;
  border-radius: 5px;
  border: 2px solid #f2f2f2;
  outline: none;
  padding-left: 10px;
}

.crawling-form button, .signup-form button {
  height: 30px;
  width: 100px;
  background: #fff;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  color: slategrey;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
}

.sign-up {
  color: #f2f2f2;
  margin-left: -70%;
  cursor: pointer;
  text-decoration: underline;
}

.no-access {
  color: #E86850;
  margin: 20px 0px 20px -57%;
  text-decoration: underline;
  cursor: pointer;
}

.try-again {
  color: #f2f2f2;
  text-decoration: underline;
  cursor: pointer;
}

.crawlButton {
  margin-top: 2rem;
}

.crawlDataContainer {
  margin: 0 auto;
  max-width: 500px;
}

#crawlDataText {
  min-width: -webkit-fill-available;
}

.downloadBtn {
  min-width: -webkit-fill-available;
  margin-top: 0.5rem;
}

.resultTreeContainer {
  margin: 0 auto;
  max-width: 500px;
  color: white;
}

.logBoxTitle {
  color: #fff;
  font-size: 1rem;
  text-decoration-line: underline;
  background: grey;
  font-family: 'Ubuntu';
}

.treeContainer {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 1rem;
}

/*Media Querie*/

@media only screen and (min-width: 150px) and (max-width: 530px) {
  .crawling-form h3, .signup-form h3 {
    text-align: center;
    margin: 0;
  }
  .sign-up, .no-access {
    margin: 10px 0;
  }
  .login-button, .signup-button {
    margin-bottom: 10px;
  }
}